// COLORS

// Tuni colors if needed
$color-tuni-lightest: #8B67B1;
$color-tuni-gradient-light-1: #7035A1;
$color-tuni-gradient-light-2: #6D3DA3;
$color-tuni-gradient-dark-1: #5B1A8D;
$color-tuni-gradient-dark-2: #4E018D;
$color-tuni: #4F028E;

// General colors
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ececec;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-toolbar: #3f51b5;

// Accent colors
$color-accent-1: #6196AB;
$color-accent-3: #3D5E6B;
$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;
