// ADD ALL GLOBAL SASS IMPORTS HERE
@import "styles/abstracts/colors";
@import "styles/components/buttons";

@import "styles/base";
@import "styles/graphs";
@import "styles/graph";

// Project global stylings (from create-react-app)
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

