@import "../styles/abstracts/colors";

.optionsbar {
    // Define grid area used by component
    grid-row: 2;
    grid-column: 1 / 5;
    z-index: 15;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__filter-div{
        flex-grow: 1;
        display: flex;
        height: 3rem;
        background-color: white;
        z-index: 15;
        width: 100%;
        gap: 5px;
        h3{
            align-self: center;
            width: 8rem;
            margin: 0px;
          }
        /*
        .MuiButtonBase-root{
            height: 1rem;
            z-index: 11;
        }

        .MuiExpansionPanelDetails-root{
            padding: 15px 15px 10px 10px;
            display: flex;
            align-content: space-between;
            background-color: white;
            border-radius: 0px 0px 30px 30px;
            width: 100%;
            z-index: 13;
        }*/
    }

    &__signals-div{
        flex-grow: 1;
        background-color: white;
        z-index: 11;
        width: 100%;

        .MuiButtonBase-root{
            height: 1rem;
            z-index: 11;
        }

        .MuiExpansionPanelDetails-root{
            padding: 15px 15px 10px 10px;
            display: flex;
            align-content: space-between;
            background-color: white;
            border-radius: 0px 0px 30px 30px;
            width: 100%;
            z-index: 13;
        }

    }



}
